<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezervari</title>
    <link href="public/Rezervari.css" rel="stylesheet">
    <script src="public/Rezervari_realizate.js"></script>
</head>
<body>
    <header>
        <img src="public/Pagina_principala/White_Lily/white_lily.svg" id="logo"/>
        <h1>Rezervari Hotel White Lily</h1>
    </header>
    <main id="main">
        <div id="alert">
            <h2>Felicitari <%= firstname %> <%= lastname %>, ai facut o rezervare la Hotel White Lily  </h2>
        </div>
        <div id="reservation">
            <h2>Ai facut o rezervare cu urmatoarele date: </h2>
            <section id="lista">
                <div id="col-left">
                    <div>Nume: </div>
                    <div>Prenume: </div>
                    <div>Email: </div>
                    <div>Nr de telefon: </div>
                    <div>Sosire: </div>
                    <div>Plecare: </div>
                    <div>Camera: </div>
                    <div>Nr de vizitatori: </div>
                    <div>Cerinte speciale: </div>
                </div>
                <div id="col-right">
                    <div id="l21"><%= firstname %></div>
                    <div id="l22"><%= lastname %></div>
                    <div id="l23"><%= email %></div>
                    <div id="l24"><%= nr %></div>
                    <div id="l25"><%= sosire %></div>
                    <div id="l26"><%= plecare %></div>
                    <div id="l27"><%= camera %></div>
                    <div id="l28"><%= guests %></div>
                    <div id="l29"><%= requests %></div>
                </div>
            </section>
            <button class="ok_button" id="ok_reservation"></button>
            <button class="sterge_button" id="sterge_reservation"></button>
        </div>
    </main>
    <footer>
        <div id="adresa">
            <div>ADRESA</div>
            <div>str Ionescu, nr 12</div>
            <div>Sinaia, judetul Prahova</div>
        </div>
        <div id="telefon">
            <div>TELEFON</div>
            <div>+407300226122</div>
        </div>
        <div id="email">
            <div>EMAIL</div>
            <div>hotel_white_lily@gmail.com</div>
            <div>white_lily_rezervari@gmail.com</div>
        </div>
        <div id="facebook">
            <div>FACEBOOK</div>
            <div>@WhiteLily</div>
        </div>
    </footer> 
</body>
</html>